body {
	background: #2E8397;
	 
}
header {
	background-color: #931a2a;
	font-size: 120px;
	height: 75px;
	padding: 10px;
	font-family: sans-serif;
}
section {
	max-height: 700px;
	max-width: 10px;
}
article {
	border-style: solid;
	margin: 5px;
	padding: 5px;
}
p {
	font-family: serif;

}
h1 {
	font-size: 24px;
	font-family: arial;
}
.prerequisite {
	font-style: italic;
	display: inline;
}